ul {
	width: 800px;
}

input[type=text],input[type=password], input[type=email], textarea {
	width: 90%;
}

p {
	margin: 0;
}

.left {
	display: inline-block;
    width: 29%;
    text-align: right;
	margin-bottom: 12px;
}

.right {
	display: inline-block;
	width: 30%;
	text-align: left;
}

.error {
	display: inline-block;
	width: 40%;
	color: red;
	visibility: hidden;
}

.success {
	display: inline-block;
	width: 35%;
	color: green;
	visibility: hidden;
}


